<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full Metal Fitness</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fullmetal_Fitness.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="sticky-top">
        @{
            if (Context.Session.GetInt32("UserId") != null)
            {
                <nav class="bg-dark box-shadow mb-3 d-flex justify-content-between align-items-center p-2">
                    <h1 class="text-light">Full Metal Fitness</h1>
                    <div class="text-light d-flex gap-3 align-items-center">
                        <a class="text-light" style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        <a class="text-light" style="text-decoration: none;" asp-area="" asp-controller="Workout" asp-action="NameWorkout">Add A Workout</a>
                        <form asp-controller="Home" asp-action="Logout" method="post"> <button type="submit" class="text-light" style="border: none; background: inherit;">Logout</button></form>
                    </div>
                </nav>
            }
        }

    </header>
    <div class="container">
        @* <img src="~/Static/Images/3d-abstract-wave-pattern-background.jpg" alt="background image"> *@
        <img src="~/Static/Images/2302166_7971.jpg" alt="background image">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
