
@model Exercise


<form asp-controller="Workout" asp-action="AddExercise" method="post" class="text-light d-flex flex-column gap-2 align-items-start">
    <h3 class="align-self-center">Add Exercise</h3>
    <div>
        <span asp-validation-for="Name"></span>
        <br>
        <label class="form-label" asp-for="Name"></label>
        <br>
        <input class="form-control" asp-for="Name">
    </div>
    <div>
        <span asp-validation-for="Description"></span>
        <br>
        <label class="form-label" asp-for="Description"></label>
        <br>
        <textarea class="form-control" asp-for="Description" cols="30" rows="10"></textarea>
    </div>
    <input type="hidden" asp-for="WorkoutId" value="@Model.WorkoutId">
    <button type="submit" style="border: none; background-color: initial;" class="align-self-end mt-5"><i class="fa-solid fa-circle-plus fa-2xl text-light"></i></button>
</form>