
@model Exercise

<form asp-controller="Workout" asp-action="AddExercise" method="post" class="text-light d-flex flex-column gap-2 align-items-start">
    <h3 class="align-self-center">Add Exercise</h3>
    <div>
        <span asp-validation-for="Name"></span>
        <br>
        <label class="form-label" asp-for="Name"></label>
        <br>
        <input class="form-control" asp-for="Name">
    </div>
    <div>
        <span asp-validation-for="Sets"></span>
        <br>
        <label class="form-label" asp-for="Sets"></label>
        <br>
        <input class="form-control w-50" min="0" asp-for="Sets">
    </div>
    <div>
        <span asp-validation-for="Reps"></span>
        <br>
        <label class="form-label" asp-for="Reps"></label>
        <br>
        <input class="form-control w-50" min="0" asp-for="Reps">
    </div>
    <div>
        <span asp-validation-for="Notes"></span>
        <br>
        <label class="form-label" asp-for="Notes"></label>
        <br>
        <textarea class="form-control" asp-for="Notes" cols="30" rows="10"></textarea>
    </div>
    <input type="hidden" asp-for="WorkoutId" value="@Model.WorkoutId">
    <button type="submit" class="btn btn-outline-light mt-3 align-self-end">Add To Workout</button>
</form>