@model LoginUser

<form asp-action="Login" asp-controller="Home" method="post" class="bg-body p-4 rounded">
    <div>
        <span asp-validation-for="LoginEmail"></span>
        <br>
        <label class="form-label" asp-for="LoginEmail"></label>
        <br>
        <input class="form-control" asp-for="LoginEmail">
        <br>
    </div>
    <div>
        <span asp-validation-for="LoginPassword"></span>
        <br>
        <label class="form-label" asp-for="LoginPassword"></label>
        <br>
        <input class="form-control" asp-for="LoginPassword">
        <br>
    </div>
    <button type="submit" class="btn btn-outline-light">Login</button>
</form>