@model List<Workout>




<div class="text-center">
    <h1 class="my-5 text-light">My Workouts</h1>
    @{
        if (Model.Count == 0)
        {
            <p class="text-light">It looks like you don't have any workouts saved.</p>
            <p class="text-light">Click 'Add A Workout' to get started!</p>
        }
        else
        {
            <table class="table table-dark table-striped table-bordered" id="table">
                <thead class="text-center">
                    <th scope="col" class="p-3">Name</th>
                    <th scope="col" class="p-3">Number of Exercises</th>
                    <th scope="col" class="p-3">Actions</th>
                </thead>
                <tbody>
                    @{
                        foreach (Workout w in Model)
                        {
                            <tr>
                                <td class="p-3">@w.Name</td>
                                <td class="p-3">@w.MyExercises.Count</td>
                                <td class="text-center d-flex justify-content-center gap-5 p-3"> 
                                    <a asp-action="OneWorkout" asp-controller="Workout" asp-route-id="@w.WorkoutId" style="color: inherit; text-decoration: none;"><i class="fa-solid fa-pen fa-2xl"></i></a>
                                    <a asp-action="EditWorkout" asp-controller="Workout" asp-route-id="@w.WorkoutId" style="color: inherit; text-decoration: none;"><i class="fa-solid fa-gear fa-2xl"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }

    }
</div>