@{
    ViewData["Title"] = "Home Page";
}


<style>
    h1 {
        text-shadow: 2px 2px black;
    }
    .title {
        font-size: 64pt;
        color: rgb(37, 126, 73);
    }
</style>

<h1 class=" text-center my-5 title">Full Metal Fitness</h1>
<div class="d-flex justify-content-around text-light">
    <div>
        <h1 class="text-center">Register</h1>
        @await Html.PartialAsync("_Register")
    </div>
    <div>
        <h1 class="text-center">Login</h1>
        @await Html.PartialAsync("_Login")
    </div>
</div>
